footer {
  height: 209px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;

  @media screen and (max-width: 640px) {
    justify-content: center;
    gap: 14px
  }
}

footer img {
  margin-top: 28px;
  width: 122px;
}

.copyright {
  margin: 0;
  font-size: 1.3em;
  text-align: center;

  @media screen and (max-width: 640px) {
    width: 40%;
    font-size: 1em;
  }
}
