header {
  height: 68px;
  margin: 25px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $breakpoint) {
    margin: 25px 20px;
  }
}

.main-logo {
  max-width: 210.32px;
  width: 40%;

  @media screen and (max-width: $breakpoint) {
  }
}

.navbar {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
  font-weight: 500;

  @media screen and (max-width: $breakpoint) {
    font-size: 1em;
  }
}

.active_link {
  text-decoration: underline;
}
