.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0, .60) url("../../images/image_source_1.png") center no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  height: 223px;
  border-radius: 25px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
  margin: 42px 0;

  @media screen and (max-width:640px) {
    height: 111px;
    border-radius: 10px;
    margin: 22px 0;
  }

    &--content {
      font-size: 48px;
      font-weight: 700;
      margin: 0 20px;
      color: white;
      
      @media screen and (max-width:640px) {
        font-size: 1.6em;
      }
    }
}